<!DOCTYPE html>
<html lang="zh-CN">
    <head> 
        
        <script type="text/javascript" src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/backbone/underscore-min.js"></script>
        <script type="text/javascript" src="/js/backbone/backbone-min.js"></script>
    
        <link rel="stylesheet" href="/css/style.css" type="text/css" />
        
        <script type="text/javascript" >
            $(function(){
                
                var Article = Backbone.Model.extend({
                    urlRoot: '/articles',
                    id : '_id',
                    idAttribute: '_id',// url use
                    initialize: function(article){
                        this.set(article);
                    }
                });

                var Articles = Backbone.Collection.extend({
                    url:'/articles',
                    model: Article,
                    parse: function(resp){
                       console.log(resp.data);
                       return resp.data;
                    }
                   
                });
                
               var ArticleRow = Backbone.View.extend({
                   tagName: "li",
                   className: "article-row",
                   events: {
                        "click .modify": "modify",
                        "click .remove": "destroy",
                        "click .view": "detail"
                   },
                   initialize: function(model) {
                       var self = this;
                       this.model = model;
                       this.model.on('change', function(event){
                           self.render();
                       });
                       this.render();
                   },
                   template: _.template($("#article_template").html()),
                   render: function() {
                      // Load the compiled HTML into the Backbone "el"
                      this.$el.html( this.template({model: this.model.attributes}) );
                      this.$title = this.$el.find('input[name="title"]');
                      this.$content = this.$el.find('input[name="content"]');
                   },
                   
                   modify: function(event){
                       var self = this;
                       
                       this.model.save({
                           'title': this.$title.val(),
                           'content': this.$content.val()
                       },{
                           success: function(err, resp){
                               self.render();
                           }
                       });
                   },
                   destroy: function(event){
                       var self = this;
                       this.model.destroy({success: function(err, resp){
                           self.remove();
                       }});
                   },
                   detail: function(event){
                       var self = this;
                       this.model.fetch({success: function(err, resp){
                           alert(JSON.stringify(resp));
                       }});
                   }
               });
               
               var BodyView = Backbone.View.extend({
                  el: 'body', 
                  initialize: function() {
                        var self = this;
                        this.collections= new Articles();
                        this.collections.fetch();
                        
                        this.collections.on('sync',function(method, resp){
                            self.render(method, this.parse(resp));
                        });
                   },
                   render: function(method, collection) {
                       var $el = this.$el.empty();
                       this.$el.append($("#add_article").html());
                       this.$title = this.$el.find('input[name="title"]');
                       this.$content = this.$el.find('input[name="content"]');
                       
                       $(collection).each(function(index, model){
                           $el.append(new ArticleRow(new Article(model)).$el);
                       });
                       
                   },
                   events: {
                        "click .add": "save"
                   },
                   save: function(event){
                       var self = this;
                       
                       this.collections.create({
                           'title': this.$title.val(),
                           'content': this.$content.val()
                       }, {
                           success: function(err, target){
                               self.collections.fetch();
                           }
                       });
                   }
                   
                });
                
                window.body = new BodyView();
                
            });
        </script>
        
        <script type="text/template" id="add_article">
          <input type="text" name="title" value='' />
          <input type="text" name="content" value='' />
          <input class="add" type="button" value="add" />
        </script>
        
        <script type="text/template" id="article_template">
          <input type="text" name="title" value='<%- model.title %>' />
          <input type="text" name="content" value='<%= model.content  %>' />
          
          <input class="view" type="button" value="view" />
          <input class="modify" type="button" value="modify" />
          <input class="remove" type="button" value="remove" />
          
        </script>
    </head>
    
    <body>
    </body>
</html>