language: node_js
node_js:
- 0.10.44
env:
- OS_TYPE=centos OS_VERSION=6 ANSIBLE_VERSION=1.9.2
before_script:
- echo -e "Host *\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
after_success:
- eval "$(ssh-agent -s)"
- chmod 600 id_rsa
- ssh-add id_rsa
- git remote add deploy ssh://root@23.105.213.131:27620/root/proxy/dotstack.git
- git checkout -b built
- git add .
- git commit -m 'built version'
- git push deploy built --force
before_install:
- openssl aes-256-cbc -K $encrypted_26b4962af0e7_key -iv $encrypted_26b4962af0e7_iv
  -in id_rsa.enc -out id_rsa -d
- git config --global user.email "609888703@qq.com"
- git config --global user.name "zhiqiang.huang"
