html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

body {
	font: 14px/20px "microsoft yahei",Helvetica,Arial,"宋体",sans-serif;
}

html {
	color: #333;
	background: #FFF;
}

address, cite, dfn, em, var, b {
	font-style: normal;
}

b{
	font-weight: normal;
}

ul, ol {
	list-style: none;
}

a {
	color: #06c;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}



/*baidu scrollar bar*/
::-webkit-scrollbar {
	width: 4px;
	height: 12px;
}

::-webkit-scrollbar-thumb {
	border-width: 0;
	border-style: solid;
	border-radius: 6px;
	background: #d9d9d9;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
	background: -webkit-gradient(linear, left top, right top, from(#f6f6f6), color-stop(50%, #fff), color-stop(75%, #fff), to(#fdfdfd));
	width: 11px;
	height: 11px;
}

::-webkit-scrollbar-button {
	display: none;
}

input::placeholder {
	color: #aab2bd;
}

:focus {
	outline: none;
}



.container{
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
}

.header{
	position: sticky;
	top: 0;
	background-color: #fff;
	box-sizing: border-box;
	box-shadow: 0 0 10px 1px rgba(0,0,0,.05);
	padding: 1rem 0;
	align-items: center;
	min-width: 1280px;
}

.search-panel {
	position: relative;
	flex-grow: 0;
	flex-shrink: 0;
}

.search-panel .search-box{
	width: 600px;
}

.control-panel {
	padding-left: 1rem;
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
}

.content-left {
	margin-left: 8rem;
	margin-right: 1rem;
	width: 650px;
	flex-grow: 0;
	flex-shrink: 0;
}

.content-right {
	margin-left: 1rem;
	flex-grow: 0;
	flex-shrink: 0;
	width: 400px;
}

.form-item{
	display: flex;
	align-items: center;
}


.logo {
	cursor: default;
	word-break: keep-all;
	font-size: 36px;
	font-weight: 700;
	min-width: 8rem;
    align-self: flex-start;
	color: #fff;
	box-sizing: border-box;
	text-shadow: 0 0 2px #004d99;
	padding: 0 1rem 0 2rem;
	transition: transform .2s;
}

.logo:hover {
	text-shadow:  0 0 10px #004d99;
	transform: scale(1.2);
}

.selector{
    position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	text-align: center;
    cursor: pointer;
    color: #666;
}

.selector:hover .label{
	color: #06c;
}

.selector:hover .dropdown-arrow{
	border-color: #06c transparent;
}

.selector .dropdown-arrow{
	border-color: #70757a transparent;
	border-style: solid;
	border-width: 5px 4px 0 4px;
	margin-left: .5rem;
	width: 0;
	height: 0;
}


.selector .option-group {
    position: absolute;
    z-index: 99;
    /**border: 1px solid #e1e1e1;**/
	box-shadow:  0 0 8px rgba(0, 0, 0, 0.08);
	top: calc(100% + .75rem);
    word-break: keep-all;
    background-color: #fff;
}



.selector .option-group .option {
    padding: .25rem 1rem;
}

.selector .option-group .option.selected {
	color: #06c;
}


.selector .option-group .option:hover {
    background-color:#f3f9ff;
}


.text-input{
	display: block;
	position: relative;
	padding: 12px 50px 12px 12px;
	background-color: rgba(242, 248, 255, 0.5);
	border: none;
	font-size: 14px;
	color: #666;
	transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	-webkit-transition: .3s;
	outline:none;
}

.search-panel:hover .text-input, .text-input:focus{
	background-color: #fff;
	box-shadow:  0 0 1px 1px rgba(0,102,204, 0.2);
}

.search-panel:hover .submit-icon, .text-input:focus ~ .submit-btn > .submit-icon{
	color: #3f89ec;
}


@keyframes swing {
	25% { transform: rotate(15deg); }
	50% { transform: rotate(0deg); }
	75% { transform: rotate(-15deg); }
	100% { transform: rotate(0deg); }
}

.submit-btn:hover .submit-icon{
	animation: swing .4s .15s linear infinite;
}

.submit-icon {
	color: #ccc;
	fill: currentColor;
	height: 32px;
	width: 32px;
}


.submit-btn{
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;

	z-index: 1;
	margin-left: -50px;
	width: 50px;
	background-color: transparent;
	/*	background-color: #3f89ec;*/
	height:40px;
	border-radius: 0;
}



.item {
	width:100%;
	/* height:40px; */
	line-height: 40px;
	text-align: center;
	background: #f8f8f8;
	border-bottom: 1px dotted #ccc;
}

.item:hover{
	cursor: pointer;
	color: #06c;
	background: #fcfcfc;
}




.language {
	padding: 0 !important;
}

.language span {
	margin-top: 4px;
}

.auto-complete-box {
	position: absolute;
	left: 0;
	right: 0;
	top: calc(100% + 1px);
	z-index: 999;
	box-shadow:  0 0 8px rgba(0, 0, 0, 0.08);
	word-break: keep-all;
	background-color: #fff;
	color: #666;
}

.auto-complete-item {
	cursor: pointer;
	padding: .5rem 1rem;
}

.auto-complete-item:hover{
	background-color: #f3f9ff;

}

.link-group {
}


.link-group span{
	border: 1px solid #f1f3ff;
	display: inline-block;
	box-sizing: border-box;
	min-width: 34px;
	padding: 0 10px;
	line-height: 34px;
	height: 34px;
}

.link-group span.active {
/*	border: 1px solid #e1e2e3;*/
	cursor: pointer;
}

.link-group span.curr{
	text-align: center;
	/*border: 1px solid #e1e2e3;*/
	margin-right: 9px;
}

.link-group a{
	display: inline-block;
	text-align: center;
	line-height: 36px;
	text-decoration: none;
	background: white;
	margin-right: 9px;
}

.link-group a:hover span.active{
	background-color: rgba(242, 248, 255, .5);
}

.link-group{
	font: 14px arial;
	white-space: nowrap;
	padding: 20px 0;
}

.notice {
	padding-top: 1rem;
	line-height: 32px;
}

.search-item{
	line-height: 32px;
	padding: 10px;
	border-bottom: 1px solid #f3f3f3;
}


.search-item a{
	color: #06c;
	text-decoration: none;
}

.search-item:hover .title, .search-item .soft-link:hover, .search-item .group-title:hover{
	text-decoration: underline;
}

.search-item:hover a{
	color: #06c;
}

.search-item:hover em, .search-item:hover b{
	color: #f00;
}

.search-item a.title, .search-item a.title em,  .search-item a.title b {
	font-weight: bold;
}

.search-item:hover{
	color: #06c;
	padding-top: 11px;
	margin-top: -1px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
}

.search-item em, .search-item b{
	color: #c00;
}

.search-item:hover .group-title{
	font-weight: bold;
}



.relevants{
	padding: 20px 0 ;
}

ul.bucket{
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
}

ul.bucket .bucket-item{
	margin: 0 25px;
	border-bottom: 1px solid #f3f3f3;
}

ul.bucket li{
	text-align: center;
}


ul.bucket li:last-child .bucket-item{
	border-bottom: none;
}

ul.bucket li a{
	display: block;
	padding: 10px 0;
	text-decoration: none;
}

ul.bucket li:hover{
	background:#f3f9ff;
	cursor: pointer;
}

ul.bucket li a:hover{
	text-decoration: none;

}

ul.bucket li:hover .bucket-item{
	margin-top: -1px;
	padding: 1px 0;
	border-bottom: none;
}


a.soft-link{
	padding-left: 10px;
	font-weight: normal;
    color: #000;
}

div ~ a.soft-link {
	padding-left: 0;
}


.link-grid{
    padding: 1rem 0 0 3rem;
}

.link-grid .link-row:first-child{
    border-top: 1px solid #f3f8ff;
}

.link-grid .link-row{
    border-bottom: 1px solid #f3f8ff;
    display: flex;
    align-items: flex-start;
}

.link-grid .link-bucket{
	display: inline-block;
    padding: .75rem 1rem;
    margin-right: .5rem;
}

.link-grid .link-title {
	cursor: default;
	flex-grow: 0;
    word-break: keep-all;
}


.link-grid .link-bucket:hover:not(.link-title){
    background: #f3f8ff;
	cursor: pointer;
}

.link-grid a.link-bucket, .link-grid .link-title{
	color: #333;
	text-decoration: none;
}

.link-grid a.link-bucket.hot{
	color: red;
	font-weight: bolder;
}


.footer{
	align-items: center;
	justify-content: center;
	color: #7a869a;
	padding: 1rem 0;
	border-top: 1px solid #f3f8ff;
}

.search-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
}



.search-header {
    flex: 1;
}

.search-content {
    flex: 1;
}

.search-footer {
    flex-grow: 0;
    align-self: stretch;
}

