.header, .search-panel{
    min-width: inherit !important;
    flex-grow: 1;
    padding: 0.25rem;
}

.search-panel .search-box {
    width: inherit !important;
    flex: 1;
}

.logo, .control-panel {
    display: none;
}

.header ~ .container {
    flex-direction: column;
}
.content-left {
    width: inherit !important;
    margin-left: 1rem;

}

.content-left, .content-right {
    flex: 1;
}

