::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

.header, .search-panel{
    min-width: inherit !important;
    flex-grow: 1;
}

.header {
    padding: .5rem;
}

.search-panel .search-box {
    width: inherit !important;
    flex: 1;
}

.text-input{
    padding-left: 5rem;
}

.logo{
    position: absolute;
    left: 1rem;
    top: .75rem;
    padding: 0;
    line-height: 100%;
    font-size: 24px;
    z-index: 999;

    min-width:inherit !important;
}

.control-panel {
    display: none;
}

.header ~ .container {
    flex-direction: column;
    align-items: stretch;
}


.content-left, .content-right {
    width: inherit !important;
    flex: 1;
    margin:0 1rem;
}

.page {
    overflow-x: scroll;
}


.footer{
    align-items: center !important;
}

#query {
    position: relative;
    padding: .5rem;
    justify-content: center;
    align-items: center;
}
