html
	include header

body
	form(action='/oauth/token' ,method='post')
		.container
			input(name='client_id' style='display:none;' value= client_id)
			input(name='client_secret' style='display:none;' value= client_secret)
			input(name='code' style='display:none;' value= code)
			input(name='grant_type' style='display:none;' value= 'authorization_code')
			input.btn.submit-btn(type='submit', value='get token')
				