head
  title !{keyword && keyword + ' - '} sudo so
  meta(name="baidu-site-verification", content="DJhoG9DAN9")
  link(rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon")
  link(rel="stylesheet", href="/css/style.css")
  link(rel="stylesheet", media="screen and (max-device-width: 600px)", href="/css/tiny.css")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
  // script(src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js")
  script
    include ../frontend/js/jquery.min.js
    include ../frontend/js/jvalid.js
    include ../frontend/js/prettyform.js
    include ../frontend/js/resize.js
    include ../frontend/js/scroll.js
    include ../frontend/js/initial.js
  script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-160357579-1")
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-160357579-1');
