head
  title so.ggga.ga
  meta(name="baidu-site-verification", content="DJhoG9DAN9")
  link(rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon")
  link(rel="stylesheet", href="/css/style.css")
  link(rel="stylesheet", media="screen and (max-device-width: 600px)", href="/css/tiny.css")
  // script(src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js")
  //link(rel="stylesheet", href="/css/bootstrap.css")
  script(src="https://cdn.bootcss.com/jquery/1.12.0/jquery.min.js")
  script(src="/js/jvalid.js")
  script(src="/js/prettyform.js")
  script(src="/js/resize.js")
  script(src="/js/scroll.js")
  script(src="/js/slider.js")
  script(src="/js/baidu.js")
  meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
