html
	head
		title form
		meta(name="baidu-site-verification", content="DJhoG9DAN9")
		link(rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon")
		link(rel="stylesheet", href="/css/style.css")
		//link(rel="stylesheet", media="screen and (max-device-width: 600px)", href="/css/tiny.css")
		script(src="https://cdn.bootcss.com/jquery/1.12.0/jquery.min.js")
		script(src="/js/jvalid.js")
		script(src="/js/prettyform.js")
		script(src="/js/baidu.js")
		//meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
	body
		form#login-form.container
			p.form-item
			p.form-item
				label.text-label 用户名
				input(req, min="11", max="11", msg=".info-err", succ-msg=".info-succ", tip-msg=".info-tip", placeholder="中国移动手机号").text-input
				span.item-info.info-succ 标准手机号
				span.item-info.info-err 11位至少
				span.item-info.info-tip input
			p.form-item
				label.text-label 密码
				input(req, placeholder="至少8位数密码", type="password").text-input
			p.form-item
				label.text-label
				input.btn.submit-btn.division(type="submit" value="授权")
				input.btn.primary-btn(type="button" value="取消")
		
