if(headers && headers['content-language'])
	.link-group
		if(headers['content-language'] == 'en')
			a.pref-settings(data-pref='zh-CN' ,href='#')
				span.active 偏好中文
		else
			span.curr 已设中文
	
		if(headers['content-language'] == 'zh-CN')
			a.pref-settings(data-pref='en', href='#')
				span.active 偏好英文
		else
			span.curr 已设英文
		a#pref-notice 
	.link-group
		a#pref-warn power by baidu simple 2.0
	
