script(type='text/javascript').
    $(function(){
        
        $('.newschannel a').click(function(item){
            $('.tab').each(function(tab,index){
                $(this).html('<img src="/img/loading_spinner.gif"/>');
                $(this).load('/rss?c=' + $(this).data('channel'));
            });
        });
        
        
    });